.gradle/*
.idea/*
gradle/*
/src/main/ember/bower_components/
/src/main/ember/dist/
/src/main/ember/node_modules/
/src/main/ember/tmp/
.DS_Store
.gradle/
.idea/
build/
gradle/
src/.DS_Store
src/main/.DS_Store
src/main/resources/public/
src/test/
